---
import { Button } from '@/components/ui/button'
import Layout from '../layouts/Layout.astro'
import '../../globals.css'
import Logo from '../assets/crato-logo.astro'
---

<Layout title='Crato Project'>
	<div class='flex flex-col items-center justify-center py-16 container mx-auto px-6 text-center h-full'>
		<Logo />
		<p class='text-lg text-gray-500 my-8 max-w-md'>A growing collection of principles and tactics to help simplify your fitness journey</p>
		<div class='bg-primary text-white py-3 px-6 rounded-full inline-block shadow-lg'>Coming Soon</div>
	</div>
</Layout>
